- name: Test Grafana theme setting
  hosts: node2
  vars:
    # By default, Grafana listens on port 3000!
    # Change the value to '8080' if you want to check the target port later on
    grafana_port: 3000
  tasks:
    - name: Get Grafana UI content
      ansible.builtin.uri:
        url: http://node2:{{ grafana_port }}
        return_content: true
      register: grafana_ui_content

    - name: Output current theme setting
      ansible.builtin.debug:
        msg: "HTML body returns '{{ grafana_ui_content.content | replace('\n', '') | regex_replace('^(.*body class=\\\")(.*)( app-grafana.*)', '\\2') }}' as the current color setting."
