---
name: Deployment
on:
  release:
    types:
      - published
permissions:
  contents: write
  pages: write
  id-token: write
  packages: write
jobs:
  deploy:
    name: Deploy to GitHub Pages
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - name: Install Python dependencies for MkDocs deployment
        run: pip3 install -r requirements.txt
      - name: Install Playwright for PDF generation
        run: playwright install chromium --with-deps
      - name: Build MkDocs site
        run: mkdocs build --clean
      - name: Upload site artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: site
      - name: Deploy to Github pages, starts new workflow
        uses: actions/deploy-pages@v4
        id: deployment
